<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h2>Dim_Calendar Holidays.</h2>
<p>
A collection of public holiday data in SQL format, to use in a data warehouse.

Covering Jan 1970 - Jan 2038.



Now using Python's <a href="https://github.com/novafloss/workalendar">Workalendar</a> module for unit tests.


This data is provided as is under the terms of <a href="http://unlicense.org/">Unlicense</a>.


Otherwise I recommend you look into licensing data from <a href="http://www.qppstudio.net">professionals</a>.
</p>


<a href="{% url 'dcal:index' %}">Home</a>
</body>
</html>