{% extends 'dcal/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load range %}

{% block title %}Dim_Calendar Public Holidays{% endblock %}

{% block content %}

<h2>{{ country }}</h2>
    <div>
    See something not right? Please
<a href="https://github.com/gregn610/dimcal/issues/new?title={{ country }}&nbsp;{{ year }};body=hi,">open a ticket</a> or submit a pull request.
    </div>

<div>
    <table>
        <thead itemscope itemtype="https://schema.org/temporalCoverage" content="{{object_list.calendar_date|first|date:"Y"}}/{{object_list.calendar_date|last|date:"Y"}}">
        </thead>
        <tbody>
            {% for dc in object_list %}
            <tr itemscope itemtype="http://schema.org/BusinessEvent">
                <td>
                    <time itemprop="startDate" datetime="{{ dc.calendar_date|date:"Y-m-d" }}">{{ dc.calendar_date|date:"Y-m-d" }}</time>
                    <meta itemprop="name" content="Public Holiday">
                </td>
                <td itemprop="location" itemscope itemtype="http://schema.org/Country">
                    <meta itemprop="name"    content="{{ country }}">
                    <meta itemscope itemtype="http://schema.org/Text" itemprop="address" >
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<hr>
<a href="{% url 'dcal:index' %}">Home</a>

{% endblock %}