{% extends 'dcal/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load range %}

{% block title %}Dim_Calendar Public Holidays{% endblock %}

{% block content %}

<h2>{{ country }} {{year}}</h2>
<div><a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_{{ country|lower}}.sql">PL/pgSQL</a></div>
    <div>
    See something not right? Please
<a href="https://github.com/gregn610/dimcal/issues/new?title={{ country }}&nbsp;{{ year }};body=hi,">open a ticket</a> or submit a pull request.
    </div>

<div>
    <table>
        <thead itemscope itemtype="https://schema.org/temporalCoverage" content="{{year|date:"Y"}}/{{year|date:"Y"|add:"1"}}">
        </thead>
        <tbody>
            {% for dc in object_list %}
            <tr itemscope itemtype="http://schema.org/BusinessEvent">
                <td>
                    <time itemprop="startDate" datetime="{{ dc.calendar_date|date:"Y-m-d" }}">{{ dc.calendar_date|date:"Y-m-d" }}</time>

                </td>
                <td><meta itemprop="name" content="Public Holiday">&nbsp;</td>
                <td itemprop="location" itemscope itemtype="http://schema.org/Country">
                    <meta itemprop="name"    content="{{ country }}">
                    <meta itemscope itemtype="http://schema.org/Text" itemprop="address" >
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}