{% extends 'dcal/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load range %}

{% block title %}Dim_Calendar Public Holidays{% endblock %}

{% block content %}

<div>
    <h2>{{ year|date:"Y" }}</h2>
    <div>
    See something not right? Please
<a href="https://github.com/gregn610/dimcal/issues/new?title={{ country }}&nbsp;{{ year }};body=hi,">open a ticket</a> or submit a pull request.
    </div>


    <table>
        <tbody>
    {% for dc in dimcalendar_list %}
        {% if dc.countries|length %}
        <tr>
            <td>
            <a href="{% url 'dcal:year_month' dc.calendar_date|date:"Y" dc.calendar_date|date:"m" %}">{{ dc.calendar_date|date:"Y-m" }}</a>&nbsp;-
            <a href="{% url 'dcal:year_month_day' dc.calendar_date|date:"Y" dc.calendar_date|date:"m" dc.calendar_date|date:"d" %}">{{ dc.calendar_date|date:"d" }}</a>
            &nbsp;</td>
            <td>&nbsp;&nbsp;</td>
            <td>
            {% for cc in dc.countries %}
            <a href="{% url 'dcal:country_year' cc|upper dc.calendar_date|date:"Y" %}">{{ cc|upper }}</a>
            {% endfor %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}