{% extends 'dcal/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load range %}

{% block title %}Dim_Calendar Public Holidays{% endblock %}

{% block content %}

<h2>{{ dimcalendar.calendar_date|date:"Y-m-d" }}</h2>

<h2>
    <span itemscope itemtype="https://schema.org/temporalCoverage" content="{{ dimcalendar.calendar_date|date:"Y-m-d" }}/P1D">{{ dimcalendar.calendar_date|date:"Y-m-d" }}</span>
</h2>

    <div>
    See something not right? Please
<a href="https://github.com/gregn610/dimcal/issues/new?title={{ country }}&nbsp;{{ year }};body=hi,">open a ticket</a> or submit a pull request.
    </div>

<ul>
    {% for cc in dimcalendar.countries %}
    <li><a href="{% url 'dcal:country' cc|upper %}" itemscope itemtype="http://schema.org/addressCountry">{{ cc|upper }}</a></li>
    {% endfor %}
</ul>

{% endblock %}