{% extends 'dcal/base.html' %}
{% load bootstrap3 %}
{% load range %}

{% block title %}Dim_Calendar Public Holidays{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6 example-block"> -
        <h2>By Country</h2>
        <ul>
    <!-- github filenames are all lowercase -->
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_at.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'AT'         %}'>Austria</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_be.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'BE'         %}'>Belgium</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_bg.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'BG'         %}'>Bulgaria</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ca_ab.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'CA_AB'      %}'>Canada - AB</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ca_bc.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'CA_BC'      %}'>Canada - BC</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ca_fed.sql"    >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'CA_FED'     %}'>Canada - FED</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ca_mb.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'CA_MB'      %}'>Canada - MB</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ca_na.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'CA_NAT'     %}'>Canada - NAT</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ca_nb.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'CA_NB'      %}'>Canada - NB</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ca_nl.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'CA_NL'      %}'>Canada - NL</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ca_ns.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'CA_NS'      %}'>Canada - NS</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ca_nt.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'CA_NT'      %}'>Canada - NT</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ca_nu.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'CA_NU'      %}'>Canada - NU</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ca_on.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'CA_ON'      %}'>Canada - ON</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ca_pe.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'CA_PE'      %}'>Canada - PE</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ca_qc.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'CA_QC'      %}'>Canada - QC</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ca_sk.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'CA_SK'      %}'>Canada - SK</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ca_yt.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'CA_YT'      %}'>Canada - YT</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_hr.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'HR'         %}'>Croatia</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_cy.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'CY'         %}'>Cyprus</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_cz.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'CZ'         %}'>Czech Republic</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_dk.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DK'         %}'>Denmark</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ee.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'EE'         %}'>Estonia</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_fi.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'FI'         %}'>Finland</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_fr.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'FR'         %}'>France</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_de_bw.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DE_BW'      %}'>Germany - BW</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_de_by.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DE_BY'      %}'>Germany - BY</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_de_be.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DE_BE'      %}'>Germany - BE</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_de_bb.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DE_BB'      %}'>Germany - BB</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_de_gdr.sql"    >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DE_GDR'     %}'>Germany - GDR</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_de_hb.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DE_HB'      %}'>Germany - HB</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_de_hh.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DE_HH'      %}'>Germany - HH</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_de_he.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DE_HE'      %}'>Germany - HE</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_de_mv.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DE_MV'      %}'>Germany - MV</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_de_ni.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DE_NI'      %}'>Germany - NI</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_de_nw.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DE_NW'      %}'>Germany - NW</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_de_rp.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DE_RP'      %}'>Germany - RP</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_de_sl.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DE_SL'      %}'>Germany - SL</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_de_sn.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DE_SN'      %}'>Germany - SN</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_de_st.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DE_ST'      %}'>Germany - ST</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_de_sh.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DE_SH'      %}'>Germany - SH</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_de_th.sql"     >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'DE_TH'      %}'>Germany - TH</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_gr.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'GR'         %}'>Greece</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_hu.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'HU'         %}'>Hungary</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ie.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'IE'         %}'>Ireland</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_it.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'IT'         %}'>Italy</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_lv.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'LV'         %}'>Latvia</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_lt.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'LT'         %}'>Lithuania</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_lu.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'LU'         %}'>Luxembourg</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_mg.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'MG'         %}'>Madagascar</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_mt.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'MT'         %}'>Malta</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_nl.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'NL'         %}'>Netherlands</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_pa.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'PA'         %}'>Panama</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_pl.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'PL'         %}'>Poland</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_pt.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'PT'         %}'>Portugal</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_ro.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'RO'         %}'>Romania</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_se.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'SE'         %}'>Sweden</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_si.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'SI'         %}'>Slovenia</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_sk.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'SK'         %}'>Slovakia</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_za.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'ZA'         %}'>South Africa</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_es_nat.sql"    >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'ES_NAT'     %}'>Spain</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_gb_eng_wls.sql">PL/pgSQL</a> - <a href='{% url 'dcal:country' 'GB_ENG_WLS' %}'>United Kingdom - England &amp; Wales</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_gb_nir.sql"    >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'GB_NIR'     %}'>United Kingdom - Northern Ireland</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_gb_sct.sql"    >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'GB_SCT'     %}'>United Kingdom - Scotland</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_us_fed.sql"    >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'US_FED'     %}'>United States of America - Federal</a></li>
         <li> <a href="https://github.com/gregn610/dimcal/blob/master/src/dimcal/sql/hol_uy.sql"        >PL/pgSQL</a> - <a href='{% url 'dcal:country' 'UY'         %}'>Uruguay</a></li>
        </ul>
        </div>

        <div class="col-sm-6 example-block alt">
            <h2>By Year</h2>
            {% for value in first_date.calendar_date.year|range:last_date.calendar_date.year %}
            <ul>
                <li><a href="{% url 'dcal:year' value %}">{{ value }}</a></li>
            </ul>
            {% endfor %}
            </div>
          </div>
        </div>

{% endblock %}


<!--
<h2>To Do:</h2>
<ul>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AD' %}'>Andorra</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AE' %}'>United Arab Emirates</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AF' %}'>Afghanistan</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AG' %}'>Antigua and Barbuda</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AI' %}'>Anguilla</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AL' %}'>Albania</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AM' %}'>Armenia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AO' %}'>Angola</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AQ' %}'>Antarctica</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AR' %}'>Argentina</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AS' %}'>American Samoa</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AU' %}'>Australia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AW' %}'>Aruba</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AX' %}'>Åland Islands</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AZ' %}'>Azerbaijan</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BA' %}'>Bosnia and Herzegovina</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BB' %}'>Barbados</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BD' %}'>Bangladesh</a></li>

         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BF' %}'>Burkina Faso</a></li>

         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BH' %}'>Bahrain</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BI' %}'>Burundi</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BJ' %}'>Benin</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BL' %}'>Saint Barthélemy</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BM' %}'>Bermuda</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BN' %}'>Brunei Darussalam</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BO' %}'>Bolivia, Plurinational State of</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BQ' %}'>Bonaire, Sint Eustatius and Saba</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BR' %}'>Brazil</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BS' %}'>Bahamas</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BT' %}'>Bhutan</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BV' %}'>Bouvet Island</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BW' %}'>Botswana</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BY' %}'>Belarus</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BZ' %}'>Belize</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CC' %}'>Cocos (Keeling) Islands</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CD' %}'>Congo, the Democratic Republic of the</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CF' %}'>Central African Republic</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CG' %}'>Congo</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CH' %}'>Switzerland</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CI' %}'>Côte d'Ivoire</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CK' %}'>Cook Islands</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CL' %}'>Chile</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CM' %}'>Cameroon</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CN' %}'>China</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CO' %}'>Colombia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CR' %}'>Costa Rica</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CU' %}'>Cuba</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CV' %}'>Cabo Verde</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CW' %}'>Curaçao</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CX' %}'>Christmas Island</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CY' %}'>Cyprus</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CZ' %}'>Czechia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'DE' %}'>Germany</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'DJ' %}'>Djibouti</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'DK' %}'>Denmark</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'DM' %}'>Dominica</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'DO' %}'>Dominican Republic</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'DZ' %}'>Algeria</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'EC' %}'>Ecuador</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'EE' %}'>Estonia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'EG' %}'>Egypt</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'EH' %}'>Western Sahara</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'ER' %}'>Eritrea</a></li>

         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'ET' %}'>Ethiopia</a></li>

         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'FJ' %}'>Fiji</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'FK' %}'>Falkland Islands (Malvinas)</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'FM' %}'>Micronesia, Federated States of</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'FO' %}'>Faroe Islands</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GA' %}'>Gabon</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GD' %}'>Grenada</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GE' %}'>Georgia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GF' %}'>French Guiana</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GG' %}'>Guernsey</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GH' %}'>Ghana</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GI' %}'>Gibraltar</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GL' %}'>Greenland</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GM' %}'>Gambia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GN' %}'>Guinea</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GP' %}'>Guadeloupe</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GQ' %}'>Equatorial Guinea</a></li>

         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GS' %}'>South Georgia and the South Sandwich Islands</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GT' %}'>Guatemala</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GU' %}'>Guam</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GW' %}'>Guinea-Bissau</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GY' %}'>Guyana</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'HK' %}'>Hong Kong</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'HM' %}'>Heard Island and McDonald Islands</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'HN' %}'>Honduras</a></li>

         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'HT' %}'>Haiti</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'HU' %}'>Hungary</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'ID' %}'>Indonesia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'IL' %}'>Israel</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'IM' %}'>Isle of Man</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'IN' %}'>India</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'IO' %}'>British Indian Ocean Territory</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'IQ' %}'>Iraq</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'IR' %}'>Iran, Islamic Republic of</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'IS' %}'>Iceland</a></li>

         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'JE' %}'>Jersey</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'JM' %}'>Jamaica</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'JO' %}'>Jordan</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'JP' %}'>Japan</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'KE' %}'>Kenya</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'KG' %}'>Kyrgyzstan</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'KH' %}'>Cambodia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'KI' %}'>Kiribati</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'KM' %}'>Comoros</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'KN' %}'>Saint Kitts and Nevis</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'KP' %}'>Korea, Democratic People's Republic of</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'KR' %}'>Korea, Republic of</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'KW' %}'>Kuwait</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'KY' %}'>Cayman Islands</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'KZ' %}'>Kazakhstan</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'LA' %}'>Lao People's Democratic Republic</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'LB' %}'>Lebanon</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'LC' %}'>Saint Lucia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'LI' %}'>Liechtenstein</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'LK' %}'>Sri Lanka</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'LR' %}'>Liberia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'LS' %}'>Lesotho</a></li>



         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'LY' %}'>Libya</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MA' %}'>Morocco</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MC' %}'>Monaco</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MD' %}'>Moldova, Republic of</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'ME' %}'>Montenegro</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MF' %}'>Saint Martin (French part)</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MH' %}'>Marshall Islands</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MK' %}'>Macedonia, the former Yugoslav Republic of</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'ML' %}'>Mali</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MM' %}'>Myanmar</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MN' %}'>Mongolia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MO' %}'>Macao</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MP' %}'>Northern Mariana Islands</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MQ' %}'>Martinique</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MR' %}'>Mauritania</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MS' %}'>Montserrat</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MU' %}'>Mauritius</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MV' %}'>Maldives</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MW' %}'>Malawi</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MX' %}'>Mexico</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MY' %}'>Malaysia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'MZ' %}'>Mozambique</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'NA' %}'>Namibia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'NC' %}'>New Caledonia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'NE' %}'>Niger</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'NF' %}'>Norfolk Island</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'NG' %}'>Nigeria</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'NI' %}'>Nicaragua</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'NO' %}'>Norway</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'NP' %}'>Nepal</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'NR' %}'>Nauru</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'NU' %}'>Niue</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'NZ' %}'>New Zealand</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'OM' %}'>Oman</a></li>

         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'PE' %}'>Peru</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'PF' %}'>French Polynesia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'PG' %}'>Papua New Guinea</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'PH' %}'>Philippines</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'PK' %}'>Pakistan</a></li>

         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'PM' %}'>Saint Pierre and Miquelon</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'PN' %}'>Pitcairn</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'PR' %}'>Puerto Rico</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'PS' %}'>Palestine, State of</a></li>

         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'PW' %}'>Palau</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'PY' %}'>Paraguay</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'QA' %}'>Qatar</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'RE' %}'>Réunion</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'RO' %}'>Romania</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'RS' %}'>Serbia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'RU' %}'>Russian Federation</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'RW' %}'>Rwanda</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SA' %}'>Saudi Arabia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SB' %}'>Solomon Islands</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SC' %}'>Seychelles</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SD' %}'>Sudan</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SE' %}'>Sweden</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SG' %}'>Singapore</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SH' %}'>Saint Helena, Ascension and Tristan da Cunha</a></li>

         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SJ' %}'>Svalbard and Jan Mayen</a></li>

         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SL' %}'>Sierra Leone</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SM' %}'>San Marino</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SN' %}'>Senegal</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SO' %}'>Somalia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SR' %}'>Suriname</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SS' %}'>South Sudan</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'ST' %}'>Sao Tome and Principe</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SV' %}'>El Salvador</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SX' %}'>Sint Maarten (Dutch part)</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SY' %}'>Syrian Arab Republic</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SZ' %}'>Swaziland</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TC' %}'>Turks and Caicos Islands</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TD' %}'>Chad</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TF' %}'>French Southern Territories</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TG' %}'>Togo</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TH' %}'>Thailand</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TJ' %}'>Tajikistan</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TK' %}'>Tokelau</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TL' %}'>Timor-Leste</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TM' %}'>Turkmenistan</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TN' %}'>Tunisia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TO' %}'>Tonga</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TR' %}'>Turkey</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TT' %}'>Trinidad and Tobago</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TV' %}'>Tuvalu</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TW' %}'>Taiwan, Province of China</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TZ' %}'>Tanzania, United Republic of</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'UA' %}'>Ukraine</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'UG' %}'>Uganda</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'UM' %}'>United States Minor Outlying Islands</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'UZ' %}'>Uzbekistan</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'VA' %}'>Holy See</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'VC' %}'>Saint Vincent and the Grenadines</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'VE' %}'>Venezuela, Bolivarian Republic of</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'VG' %}'>Virgin Islands, British</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'VI' %}'>Virgin Islands, U.S.</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'VN' %}'>Viet Nam</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'VU' %}'>Vanuatu</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'WF' %}'>Wallis and Futuna</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'WS' %}'>Samoa</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'YE' %}'>Yemen</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'YT' %}'>Mayotte</a></li>

         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'ZM' %}'>Zambia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'ZW' %}'>Zimbabwe</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AC' %}'>Ascension Island</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CP' %}'>Clipperton Island</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'DG' %}'>Diego Garcia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'EA' %}'>Ceuta, Melilla</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'FX' %}'>France, Metropolitan</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'IC' %}'>Canary Islands</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SU' %}'>USSR</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TA' %}'>Tristan da Cunha</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AX' %}'>Åland</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'GG' %}'>Guernsey</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'IM' %}'>Isle of Man</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'JE' %}'>Jersey</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'AN' %}'>Netherlands Antilles</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'BU' %}'>Burma</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CS' %}'>Serbia and Montenegro</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'NT' %}'>Neutral Zone</a></li>

         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'TP' %}'>East Timor</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'YU' %}'>Yugoslavia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'ZR' %}'>Zaire</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'CS' %}'>Czechoslovakia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'DY' %}'>Benin</a></li>

         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'FL' %}'>Liechtenstein</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'JA' %}'>Jamaica</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'LF' %}'>Libya Fezzan</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'PI' %}'>Philippines</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'RA' %}'>Argentina</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'RB' %}'>Bolivia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'RB' %}'>Botswana</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'RC' %}'>China</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'RH' %}'>Haiti</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'RI' %}'>Indonesia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'RL' %}'>Lebanon</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'RM' %}'>Madagascar</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'RN' %}'>Niger</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'RP' %}'>Philippines</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'SF' %}'>Finland</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'WG' %}'>Grenada</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'WL' %}'>Saint Lucia</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'WV' %}'>Saint Vincent</a></li>
         <li> <a href="#">PL/pgSQL</a> <a href='{% url 'dcal:country' 'YV' %}'>Venezuela</a></li>
</ul>
-->
