{% extends 'dcal/base.html' %}
{% load bootstrap3 %}

{% block title %}Dim_Calendar SQL Index{% endblock %}

{% block content %}
<h2>Table &amp; Keys SQL</h2>
<table>
    <thead>
        <tr>
            <th colspan="5">Dialect</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="{% url 'buildsql:sqltable' 'plpgsql' %}">PL/pgSQL Table</a></td>

            {% comment %}
            <td>&nbsp;&nbsp;</td>
            <td><a href="{% url 'buildsql:sqltable' 'sql92' %}">SQL92 Table</a></td>
            <td>&nbsp;&nbsp;</td>
            <td><a href="{% url 'buildsql:sqltable' 'tsql' %}">T-SQL Table</a></td>
            {% endcomment %}
        </tr>
        <tr>
            <td><a href="{% url 'buildsql:sqlcommon' 'plpgsql' %}">PL/pgSQL Keys</a></td>

            {% comment %}
            <td>&nbsp;&nbsp;</td>
            <td><a href="{% url 'buildsql:sqlcommon' 'sql92' %}">SQL92 Keys</a></td>
            <td>&nbsp;&nbsp;</td>
            <td><a href="{% url 'buildsql:sqlcommon' 'tsql' %}">T-SQL Keys</a></td>
            {% endcomment %}
        </tr>

    </tbody>
</table>

<h2>Country Specific SQL</h2>
<table>
    <thead>
    <tr>
        <th>Country</th>
        <th colspan="5">Dialect</th>
    </tr></thead>
    <tbody>

    {% for country in countries %}
    <tr>
        <td>{{ country|upper }}</td>
        <td><a href="{% url 'buildsql:sqldata' 'plpgsql' country|upper %}">PL/pgSQL</a></td>

        {% comment %}
        <td>&nbsp;&nbsp;</td>
        <td><a href="{% url 'buildsql:sqldata' 'sql92' country|upper %}">SQL92</a></td>
        <td>&nbsp;&nbsp;</td>
        <td><a href="{% url 'buildsql:sqldata' 'tsql' country|upper %}">T-SQL</a></td>

        {% endcomment %}
    </tr>

{% endfor %}
</tbody></table>

</body>
</html>
{% endblock %}